.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: #262626;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.navbar-content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  padding: 0;
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-link a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
  position: relative;
}

.nav-link a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.nav-link a:hover::after {
  width: 100%;
  left: 0;
}

.nav-link a:focus::after,
.nav-link a:active::after {
  background-color: rgb(108, 108, 108);
}

.nav-link a:focus,
.nav-link a:active {
  color: rgb(108, 108, 108);
}

.nav-logo {
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
  position: relative;
  z-index: 1;
}

.nav-logo:active {
  filter: brightness(0) invert(1) drop-shadow(0 0 10px white);
}
