.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: row; /* Default to row for desktop */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #d9d9d9;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-image {
  flex: 0 0 470px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  object-fit: contain;
}

.project-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 20px;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #555;
}

.project-tech-stack {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.project-tech-stack li {
  background-color: #a1a1a1;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.project-github-link {
  margin-top: auto;
  color: #006bdd;
  text-decoration: none;
  font-weight: bold;
  align-self: flex-start;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  font-size: 14px;
  background-color: #daeeff;
  border-radius: 10px;
}

.project-github-link:hover {
  background-color: #a2d4ff;
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.github-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

/* Media Queries for Mobile */
@media screen and (max-width: 1000px) {
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
  }

  .project-image {
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
  }

  .project-details {
    padding-left: 0;
    padding-right: 0;
    align-self: center;
  }

  .project-title {
    font-size: 1.25rem;
    align-self: center;
  }

  .project-description {
    align-self: center;

    font-size: 0.9rem;
  }

  .project-tech-stack {
    justify-content: center;
    margin-bottom: 2rem;
  }

  .project-tech-stack li {
    font-size: 0.8rem;
  }

  .project-github-link {
    font-size: 13px;
    padding: 0.5rem 1rem;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .project-card {
    padding: 1.2rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    min-height: 400px;
    display: flex;
  }

  .project-image {
    width: 80%;
    max-height: 200px;
    margin-bottom: 1rem;
    align-self: center;
  }

  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
  }

  .project-details {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    flex-grow: 1;
  }

  .project-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  .project-description {
    font-size: 0.85rem;
    margin-bottom: 0.75rem;
  }

  .project-tech-stack li {
    font-size: 0.75rem;
  }

  .project-github-link {
    font-size: 12px;
    padding: 0.4rem 1rem;
    align-self: center;
  }
}
